In [25]:
import pandas as pd
import numpy as np
import os
import glob
import json

In [14]:
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'clean_basics.csv.gz',
 'clean_ratings.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz']

In [15]:
file_list[1]

'clean_basics.csv.gz'

In [16]:
FOLDER + file_list[1]

'Data/clean_basics.csv.gz'

In [17]:
pd.read_csv(FOLDER + file_list[5])

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0116991,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,492619.0,en,Mariette in Ecstasy,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Mariette in Ecstasy,0.0,0.0,0.0,PG-13
2,tt0143558,0.0,/mUdwA3Szik9bkIMWEeux49I4EgL.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,410363.0,hu,Apaföld,...,0.0,80.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,Father's Acre,0.0,6.8,5.0,NaN
3,tt0153140,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,367762.0,hu,Rózsaszín sajt,...,0.0,93.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"When you hug too strong, you don’t see the face.",Camembert Rose,0.0,0.0,0.0,NaN
4,tt0205380,0.0,/dcF1eyBqF2Cb9rGpmsduLjZTNKr.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,435199.0,hi,Sanam Teri Kasam,...,0.0,170.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Sanam Teri Kasam,0.0,7.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3944,tt8853394,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,780743.0,tr,Aşk Üçgeni,...,0.0,98.0,"[{'english_name': 'Turkish', 'iso_639_1': 'tr'...",Released,NaN,Love Triangle,0.0,0.0,0.0,NaN
3945,tt9330112,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,111622.0,ta,நினைத்தாலே இனிக்கும்,...,0.0,145.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Ninaithale Inikkum,0.0,4.0,1.0,NaN
3946,tt9428246,0.0,NaN,NaN,0.0,"[{'id': 10402, 'name': 'Music'}, {'id': 10749,...",NaN,740946.0,en,Lakhimi,...,0.0,60.0,[],Released,NaN,Lakhimi,0.0,0.0,0.0,NaN
3947,tt9556198,0.0,NaN,"{'id': 866148, 'name': 'Deep Sea Monster Raiga...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,488412.0,ja,深海獣雷牙,...,0.0,80.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Deep Sea Monster Raiga,0.0,6.4,5.0,NaN
3948,tt9573984,0.0,NaN,"{'id': 691937, 'name': 'Siren: Erotic Ghost', ...",0.0,[],NaN,545661.0,ja,The Legend of Siren XX,...,0.0,78.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,The Legend of Siren XX,0.0,10.0,2.0,NaN

In [29]:
with open('/Data/tmdb_api_results_2009.json', 'r') as f:
    loaded = f.read()
loaded

FileNotFoundError: [Errno 2] No such file or directory: '/Data/tmdb_api_results_2009.json'

In [22]:
q = FOLDER + "tmdb_api*.csv.gz"
q

'Data/tmdb_api*.csv.gz'

In [27]:
for i in q:
    with open(i, 'w') as f:
        json.dump(i, f)

PermissionError: [Errno 13] Permission denied: '/'

In [23]:
file_list = glob.glob(q)
file_list

[]