In [1]:
import pandas as pd
import numpy as np
import tmdbsimple as tmdb
import json, os, time
from tqdm.notebook import tqdm_notebook


#basics_url = ('https://datasets.imdbws.com/title.basics.tsv.gz')

#ratings_url = ('https://datasets.imdbws.com/title.ratings.tsv.gz')

#akas_url = ('https://datasets.imdbws.com/title.akas.tsv.gz')

#basics = pd.read_csv(basics_url,sep='\t', low_memory = False)
#ratings = pd.read_csv(ratings_url,sep='\t', low_memory = False)
#akas = pd.read_csv(akas_url,sep='\t', low_memory = False)



basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)

#basics.to_csv("Data/title_basics.csv.gz",compression='gzip', index=False)
#ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip', index=False)
#akas.to_csv("Data/title_akas.csv.gz",compression='gzip', index=False)

In [2]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.8       256
2  tt0000003            6.5      1704
3  tt0000004            5.6       168
4  tt0000005            6.2      2519

In [4]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [5]:
basics = basics.replace({'\\N':np.nan})

In [6]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [7]:
ratings = ratings.replace({'\\N':np.nan})

In [8]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.8       256
2  tt0000003            6.5      1704
3  tt0000004            5.6       168
4  tt0000005            6.2      2519

In [9]:
akas = akas.replace({'\\N':np.nan})

In [10]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [11]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           10
originalTitle          10
isAdult                 1
startYear         1213243
endYear           9070447
runtimeMinutes    6702664
genres             416833
dtype: int64

In [12]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [13]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36299
endYear           2350768
runtimeMinutes          0
genres                  0
dtype: int64

In [14]:
basics['titleType'].value_counts()

tvEpisode       1063166
short            573962
movie            366741
video            174987
tvMovie           88267
tvSeries          86519
tvSpecial         16453
tvMiniSeries      16050
tvShort            9375
videoGame           294
Name: titleType, dtype: int64

In [15]:
movie_filter = basics['titleType'] == 'movie'
movie_filter.value_counts()

False    2029073
True      366741
Name: titleType, dtype: int64

In [16]:
basics = basics.loc[movie_filter,:]

In [17]:
basics['titleType'].head()

8       movie
570     movie
587     movie
672     movie
1172    movie
Name: titleType, dtype: object

In [18]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"

In [19]:
basics['startYear'].value_counts()

2017    14183
2018    14130
2016    13814
2019    13796
2015    13323
        ...
1894        1
1899        1
1904        1
1906        1
1896        1
Name: startYear, Length: 129, dtype: int64

In [20]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366741 entries, 8 to 9165757
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          366741 non-null  object
 1   titleType       366741 non-null  object
 2   primaryTitle    366741 non-null  object
 3   originalTitle   366741 non-null  object
 4   isAdult         366741 non-null  object
 5   startYear       360913 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  366741 non-null  object
 8   genres          366741 non-null  object
dtypes: object(9)
memory usage: 28.0+ MB

In [21]:
basics['startYear'].isna().sum()

5828

In [22]:
basics.dropna(subset = ['startYear'], inplace= True)

In [23]:
basics['startYear'].isna().sum()

0

In [24]:
basics['startYear'] = basics['startYear'].astype(int)

In [25]:
basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(int)

In [26]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear          int32
endYear           object
runtimeMinutes     int32
genres            object
dtype: object

In [27]:
startYear_filter = basics['startYear'] > 1999

In [28]:
basics = basics.loc[startYear_filter,:]

In [29]:
basics['startYear'].head(20)

13079     2021
34790     2001
61090     2020
66305     2006
67636     2018
77930     2001
86767     2005
87079     2001
90882     2004
92732     2016
93903     2002
95114     2009
98006     2017
100039    2000
102619    2021
106071    2004
106678    2002
107955    2006
108876    2018
110330    2002
Name: startYear, dtype: int32

In [30]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [31]:
basics['genres'].head()

34790    Comedy,Fantasy,Romance
61090                     Drama
67636                     Drama
77930                 Drama,War
86767      Comedy,Horror,Sci-Fi
Name: genres, dtype: object

In [32]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34790      True
61090      True
67636      True
77930      True
86767      True
           ...
9165479    True
9165488    True
9165527    True
9165572    True
9165656    True
Name: tconst, Length: 142598, dtype: bool

In [33]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61090,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67636,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77930,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86767,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9165479,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9165488,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9165527,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9165572,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9165656,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

In [34]:
basics.to_csv("Data/clean_basics.csv.gz",compression='gzip', index=False)
ratings.to_csv("Data/clean_ratings.csv.gz",compression='gzip', index=False)

In [35]:
with open('/Users/Steven (Dad)/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [36]:
tmdb.API_KEY =  login['api-key']

In [37]:
def get_movie_and_rating(movie_id):    
    
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()

    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            movie_info['certification'] = c['certification']
    return movie_info

In [38]:
test = get_movie_and_rating("tt0848228")
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 204.949,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27428,
 'certification': 'PG-13'}

In [39]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'clean_basics.csv.gz',
 'clean_ratings.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_results_combined.csv.gz']

In [40]:
YEARS_TO_GET =[2000,2001]

In [41]:
def write_json(new_data, filename): 
    """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [42]:
def read_and_fix_json(JSON_FILE):
    """Attempts to read in json file of records and fixes the final character
    to end with a ] if it errors.
    
    Args:
        JSON_FILE (str): filepath of JSON file
        
    Returns:
        DataFrame: the corrected data from the bad json file
    """
    try: 
        previous_df =  pd.read_json(JSON_FILE)
    
    ## If read_json throws an error
    except:
        
        ## manually open the json file
        with open(JSON_FILE,'r+') as f:
            ## Read in the file as a STRING
            bad_json = f.read()
            
            ## if the final character doesn't match first, select the right bracket
            first_char = bad_json[0]
            final_brackets = {'[':']', 
                           "{":"}"}
            ## Select expected final brakcet
            final_char = final_brackets[first_char]
            
            ## if the last character in file doen't match the first char, add it
            if bad_json[-1] != final_char:
                good_json = bad_json[:-1]
                good_json+=final_char
            else:
                raise Exception('ERROR is not due to mismatched final bracket.')
            
            ## Rewind to start of file and write new good_json to disk
            f.seek(0)
            f.write(good_json)
           
        ## Load the json file again now that its fixed
        previous_df =  pd.read_json(JSON_FILE)
        
    return previous_df

In [43]:


for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
            with open(JSON_FILE,'w') as f:
                json.dump([{'imdb_id':0}],f)
    

    df = basics.loc[ basics['startYear']==YEAR].copy()

    movie_ids = df['tconst'].copy()

    previous_df = read_and_fix_json(JSON_FILE)

    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    for movie_id in tqdm_notebook(movie_ids_to_get,
                      desc=f'Movies from {YEAR}',
                      position=1,
                      leave=True):
# Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_and_rating(movie_id)  #This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)

        # If it fails,  make a dict with just the id and None for certification.
        except Exception as e:
            #print(e)
            continue
            


final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/587 [00:00<?, ?it/s]