In [94]:
import pandas as pd
import numpy as np
import tmdbsimple as tmdb
import json, os, time


#basics_url = ('https://datasets.imdbws.com/title.basics.tsv.gz')

#ratings_url = ('https://datasets.imdbws.com/title.ratings.tsv.gz')

#akas_url = ('https://datasets.imdbws.com/title.akas.tsv.gz')

#basics = pd.read_csv(basics_url,sep='\t', low_memory = False)
#ratings = pd.read_csv(ratings_url,sep='\t', low_memory = False)
#akas = pd.read_csv(akas_url,sep='\t', low_memory = False)

basics.to_csv("Data/title_basics.csv.gz",compression='gzip', index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip', index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip', index=False)

basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)

In [95]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [96]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.8       256
2  tt0000003            6.5      1703
3  tt0000004            5.6       168
4  tt0000005            6.2      2518

In [97]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [98]:
basics = basics.replace({'\\N':np.nan})

In [99]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [100]:
ratings = ratings.replace({'\\N':np.nan})

In [101]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.8       256
2  tt0000003            6.5      1703
3  tt0000004            5.6       168
4  tt0000005            6.2      2518

In [102]:
akas = akas.replace({'\\N':np.nan})

In [103]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [104]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           10
originalTitle          10
isAdult                 1
startYear         1212360
endYear           9066011
runtimeMinutes    6698868
genres             416706
dtype: int64

In [105]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace = True)

In [106]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36286
endYear           2350088
runtimeMinutes          0
genres                  0
dtype: int64

In [107]:
basics['titleType'].value_counts()

tvEpisode       1062841
short            573780
movie            366657
video            174941
tvMovie           88241
tvSeries          86491
tvSpecial         16446
tvMiniSeries      16042
tvShort            9375
videoGame           294
Name: titleType, dtype: int64

In [108]:
movie_filter = basics['titleType'] == 'movie'
movie_filter.value_counts()

False    2028451
True      366657
Name: titleType, dtype: int64

In [109]:
basics = basics.loc[movie_filter,:]

In [110]:
basics['titleType'].head()

8       movie
570     movie
587     movie
672     movie
1172    movie
Name: titleType, dtype: object

In [111]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"

In [112]:
basics['startYear'].value_counts()

2017    14184
2018    14128
2016    13812
2019    13794
2015    13323
        ...
1894        1
1899        1
1904        1
1906        1
1896        1
Name: startYear, Length: 129, dtype: int64

In [113]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366657 entries, 8 to 9161267
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          366657 non-null  object
 1   titleType       366657 non-null  object
 2   primaryTitle    366657 non-null  object
 3   originalTitle   366657 non-null  object
 4   isAdult         366657 non-null  object
 5   startYear       360833 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  366657 non-null  object
 8   genres          366657 non-null  object
dtypes: object(9)
memory usage: 28.0+ MB

In [114]:
basics['startYear'].isna().sum()

5824

In [115]:
basics.dropna(subset = ['startYear'], inplace= True)

In [116]:
basics['startYear'].isna().sum()

0

In [117]:
basics['startYear'] = basics['startYear'].astype(int)

In [118]:
basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(int)

In [119]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear          int32
endYear           object
runtimeMinutes     int32
genres            object
dtype: object

In [120]:
startYear_filter = basics['startYear'] > 1999

In [121]:
basics = basics.loc[startYear_filter,:]

In [122]:
basics['startYear'].head(20)

13079     2021
34790     2001
61089     2020
66304     2006
67635     2018
77929     2001
86766     2005
87078     2001
90881     2004
92731     2016
93902     2002
98005     2017
100038    2000
102618    2021
106070    2004
106677    2002
107954    2006
108875    2018
110329    2002
110441    2000
Name: startYear, dtype: int32

In [123]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [124]:
basics['genres'].head()

34790    Comedy,Fantasy,Romance
61089                     Drama
67635                     Drama
77929                 Drama,War
86766      Comedy,Horror,Sci-Fi
Name: genres, dtype: object

In [125]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34790      True
61089      True
67635      True
77929      True
86766      True
           ...
9160989    True
9160998    True
9161037    True
9161082    True
9161166    True
Name: tconst, Length: 142554, dtype: bool

In [126]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61089,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67635,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77929,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86766,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9160989,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9160998,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9161037,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9161082,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9161166,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

In [127]:
with open('/Users/Steven (Dad)/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [128]:
tmdb.API_KEY =  login['api-key']

In [129]:
def get_movie_and_rating(movie_id):    
    
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()

    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            info['certification'] = c['certification']
    return movie_info

In [130]:
test = get_movie_and_rating("tt0848228")
test

{'adult': False,
 'backdrop_path': '/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 238.544,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27387}

In [131]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_akas.csv.gz',
 "title_akas.csv.gz,compression='gzip', index=False",
 'title_basics.csv.gz',
 "title_basics.csv.gz,compression='gzip', index=False",
 'title_ratings.csv.gz',
 "title_ratings.csv.gz,compression='gzip', index=False"]